<p *ngIf="showPublishedMsg" class="saved-to-gitlab-msg">Successfully saved to GitLab</p>

  <div *ngFor="let category of marketplaceIndex; let i = index">
    <span>{{i+1}}</span>
    <category-row [item]="category"></category-row>
    <button (click)="deleteItem(category, i)" class="delete">Delete</button>

    <div *ngFor="let bundle of category.bundles; let i = index" class="bundles">
      <span>{{i+1}}</span>
      <bundle-row [item]="bundle"></bundle-row>
    </div>
  </div>

  <button (click)="addCategory()" class="add-category">Add category</button>
<br>

<div class="flex-column">
  <label for="commitName">Commit message</label>
  <input type="text" [(ngModel)]="commitMsg" id="commitName" required>
  <label for="commitName">Author of commit</label>
  <input type="text"[(ngModel)]="commitAuthor" required>
  <button (click)="getGitMarketplaceIndex()" class="get-from-git">Get from GitLab</button>
  <button (click)="publish()" class="publish">Publish to GitLab</button>
</div>

