.publish {
  background-color: green;
}

.get-from-git {
  background-color: blue;
}

.add-category {
  background-color: yellow;
}

.saved-to-gitlab-msg {
  color: green;
}

.commit-box {
  margin-top: 30px;
}
