<div>
  <div *ngFor="let category of marketplaceIndex; let i = index">
    <span>{{i+1}}</span>
    <input type="text" [(ngModel)]="category.name">
    <input type="text" [(ngModel)]="category.description">
    <input type="text" [(ngModel)]="category.id">
    <button (click)="deleteItem(category, i)" class="delete">Delete</button>

    <div *ngFor="let bundle of category.bundles; let i = index" class="bundles">
      <span>{{i+1}}</span>
      <input type="text" [(ngModel)]="bundle.name">
      <input type="text" [(ngModel)]="bundle.description">
      <input type="text" [(ngModel)]="bundle.id">
    </div>
  </div>
  <button (click)="addCategory()" class="add-category">Add category</button>
</div>
<br>

<label for="commitName">Commit message</label>
<input type="text" [(ngModel)]="commitMsg" id="commitName" required>
<label for="commitName">Author of commit</label>
<input type="text"[(ngModel)]="commitAuthor" required>
<button (click)="publish()" class="publish">Publish</button>
