.publish {
  background-color: green;
}

.get-from-git {
  background-color: blue;
}

.add-category {
  background-color: yellow;
}

.delete {
  background-color: mediumpurple;
}

.saved-to-gitlab-msg {
  color: green;
}
