<p *ngIf="showPublishedMsg" class="saved-to-gitlab-msg">Successfully saved to GitLab</p>

  <div *ngFor="let category of marketplaceIndex; let i = index">
    <span>{{i+1}}</span>
    <category-row [category]="category" [categoryIndex]="i"></category-row>
    <button (click)="expandChildPanel()" *ngIf="category.childCategories && category.childCategories.length" class="expand-panel"> {{expand ? '&#9660;' : '&#9654;'}} {{category.childCategories.length}} {{category.childCategories.length > 1 ? 'subcategories' : 'subcategory'}}</button>

    <div *ngIf="category.childCategories && category.childCategories.length && expand" class="items-section">
      <div *ngFor="let childCategory of category.childCategories; let i = index">
        <span>{{i+1}}</span>
        <category-row [category]="childCategory" [categoryIndex]="i" class="inputs-row"></category-row>
      </div>
    </div>
  </div>

  <button (click)="addCategory()" class="add-item">Add category</button>
<br>

<div class="flex-column commit-box">
  <label for="commitName">Commit message</label>
  <input type="text" [(ngModel)]="commitMsg" id="commitName" required>
  <label for="commitName">Author of commit</label>
  <input type="text"[(ngModel)]="commitAuthor" required>
  <button (click)="getGitMarketplaceIndex()" class="get-from-git">Get from GitLab</button>
  <button (click)="publish()" class="publish">Publish to GitLab</button>
</div>

